<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".WanderFunApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app_logo_rounded"
        android:supportsRtl="true"
        android:theme="@style/Theme.WanderFunMobile"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".presentation.ui.activity.auth.ChangePasswordActivity"
            android:exported="false"
            android:theme="@style/ActivityTheme" />
        <activity
            android:name=".presentation.ui.activity.auth.ResetPasswordActivity"
            android:exported="false"
            android:theme="@style/ActivityTheme" />
        <activity
            android:name=".presentation.ui.activity.auth.ForgotPasswordActivity"
            android:exported="false"
            android:theme="@style/ActivityTheme" />
        <activity
            android:name=".presentation.ui.activity.auth.VerifyOtpActivity"
            android:exported="false"
            android:theme="@style/ActivityTheme" />
        <activity
            android:name=".presentation.ui.activity.favoriteplace.FavoritePlaceActivity"
            android:exported="false"
            android:theme="@style/ActivityTheme" />
        <activity
            android:name=".presentation.ui.activity.checkin.CheckInHistoryActivity"
            android:exported="false"
            android:theme="@style/ActivityTheme" />
        <activity
            android:name=".presentation.ui.activity.leaderboard.LeaderboardActivity"
            android:exported="false"
            android:theme="@style/ActivityTheme" />
        <activity
            android:name=".presentation.ui.activity.post.PostDetailActivity"
            android:exported="false"
            android:theme="@style/ActivityTheme" />
        <activity
            android:name=".presentation.ui.activity.post.AddEditPostActivity"
            android:exported="false"
            android:theme="@style/ActivityTheme" />
        <activity
            android:name=".presentation.ui.activity.trip.TripPlaceCreateActivity"
            android:exported="false"
            android:theme="@style/ActivityTheme" />
        <activity
            android:name=".presentation.ui.activity.trip.AddEditTripActivity"
            android:exported="false"
            android:theme="@style/ActivityTheme" />
        <activity
            android:name=".presentation.ui.activity.trip.TripDetailActivity"
            android:exported="false"
            android:theme="@style/ActivityTheme" />
        <activity
            android:name=".presentation.ui.activity.place.SearchPlaceActivity"
            android:exported="false"
            android:theme="@style/ActivityTheme" />
        <activity
            android:name=".presentation.ui.activity.album.AddEditAlbumActivity"
            android:exported="false"
            android:theme="@style/ActivityTheme" />
        <activity
            android:name=".presentation.ui.activity.album.AlbumDetailsActivity"
            android:exported="false"
            android:theme="@style/ActivityTheme" />
        <activity
            android:name=".presentation.ui.activity.place.FeedbackCreateActivity"
            android:exported="false"
            android:theme="@style/ActivityTheme" />
        <activity
            android:name=".presentation.ui.activity.profile.EditProfileActivity"
            android:exported="false"
            android:theme="@style/ActivityTheme" />
        <activity
            android:name=".presentation.ui.activity.profile.ProfileActivity"
            android:exported="false"
            android:theme="@style/ActivityTheme" />
        <activity
            android:name=".presentation.ui.activity.album.MyAlbumActivity"
            android:exported="false"
            android:theme="@style/ActivityTheme" />
        <activity
            android:name=".presentation.ui.activity.auth.RegisterActivity"
            android:exported="false"
            android:theme="@style/ActivityTheme" />
        <activity
            android:name=".presentation.ui.activity.auth.LoginActivity"
            android:exported="false"
            android:theme="@style/ActivityTheme" />
        <activity
            android:name=".presentation.ui.activity.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.ui.activity.MainActivity"
            android:exported="false"
            android:theme="@style/ActivityTheme" />
    </application>

</manifest>